In [1]:
#IMPORTAMOS LAS LIBRERIAS A UTILIZAR

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [62]:
#IMPORTAMOS LOS ARCHIVOS A UTILIZAR

df = pd.read_csv(r'properties_colombia/properties_colombia_train.csv', parse_dates=(['start_date', 'created_on']))
dft = pd.read_csv(r'properties_colombia/properties_colombia_test.csv')

In [63]:
#HACEMOS EL ANALISIS EXPLORATORIO DE LOS DATOS
df.head()
dft.head()

,Unnamed: 0,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,...,bathrooms,surface_total,surface_covered,currency,price_period,title,description,property_type,operation_type,geometry
0,852569,pCiVu6rxpBq9dCZfYCXXgA==,Propiedad,2020-09-04,2020-09-12,2020-09-04,4.722000,-74.075000,Colombia,Cundinamarca,...,3.0,660.0,350.0,COP,NaN,Casa En Arriendo/venta En Bogota Sotileza Cod....,"EXCLUSIVA CASA EN VENTA Y ARRIENDO, UBICADA EN...",Casa,Venta,POINT (-74.075 4.722)
1,121379,L0XSQ7mF1TWb1lHRg4n2+A==,Propiedad,2020-10-20,2020-10-20,2020-10-20,NaN,NaN,Colombia,Antioquia,...,3.0,NaN,NaN,COP,Mensual,SE VENDE APARTAMENTO EN EL SECTOR DE ZUÑIGA-EN...,"PR 7555. Apartamento Duplex en unidad cerrada,...",Apartamento,Venta,POINT EMPTY
2,119504,FbWRxZOMNoUzVOLXgkum1A==,Propiedad,2020-10-20,2020-10-22,2020-10-20,6.259253,-75.628381,Colombia,Antioquia,...,1.0,NaN,NaN,COP,NaN,Casa Barata San Javier Solo por este mes,"Casa compraventa escrituras en \n proceso,sala...",Casa,Venta,POINT (-75.6283806 6.25925267)
3,227304,RUV1P+3UOmNdlJ9fBdWFyw==,Propiedad,2020-12-10,9999-12-31,2020-12-10,6.203000,-75.556000,Colombia,Antioquia,...,NaN,2793.0,NaN,COP,NaN,Lote En Venta En Medellin La Calera Cod. VRPR6330,CODIGO 6330LOTE PARA LA VENTA DE 2793MTS,Lote,Venta,POINT (-75.556 6.203)
4,228600,ifKutEAhyovuDNeYrFFV+A==,Propiedad,2020-12-10,2020-12-11,2020-12-10,NaN,NaN,Colombia,Antioquia,...,2.0,NaN,NaN,COP,NaN,Casa en Venta Ubicado en MEDELLIN,Codigo Inmueble 505457 Casa en venta en el sec...,Casa,Venta,POINT EMPTY

In [64]:
df.shape
dft.shape
df.info()
dft.info()
pd.isnull(df).sum()
pd.isnull(dft).sum()

(65850, 26)

In [65]:
df.describe()
dft.describe()

,Unnamed: 0,lat,lon,rooms,bedrooms,bathrooms,surface_total,surface_covered
count,65850.000000,49433.000000,49433.000000,9110.000000,13403.000000,52054.000000,2314.000000,3.305000e+03
mean,500260.289263,5.686868,-75.042164,3.282327,3.236813,2.639624,1355.283924,5.616338e+03
std,290438.140244,2.217177,1.098202,1.702092,1.972357,1.426015,9409.882547,3.012933e+05
min,4.000000,-4.203165,-81.705052,1.000000,0.000000,1.000000,10.000000,1.000000e+00
25%,235030.500000,4.582000,-75.644727,3.000000,3.000000,2.000000,74.000000,7.100000e+01
50%,509299.500000,4.918677,-75.476071,3.000000,3.000000,2.000000,120.000000,1.150000e+02
75%,772024.500000,6.251822,-74.094765,4.000000,4.000000,3.000000,274.500000,2.130000e+02
max,993559.000000,13.338761,-67.924336,40.000000,60.000000,20.000000,200000.000000,1.732000e+07

In [8]:
price_promedio = round(df.price.mean(), 2)
price_promedio

643605091.01

In [9]:
df.id.duplicated().sum()
df.ad_type.value_counts()
min(df.start_date.dt.year)
max(df.start_date.dt.year)
df.operation_type.value_counts()

Venta    197549
Name: operation_type, dtype: int64

In [66]:
# PREPROCESAMIENTO DE LA DATA
# ELIMINO LAS COLUMNAS QUE CONSIDERO NO SON NECESARIAS PARA EL ANALISIS
df.drop(['Unnamed: 0', 'id', 'ad_type', 'start_date', 'end_date', 'created_on', 'l1', 'l2', 'l3', 'l4', 'l5', 'l6', 'currency', 'price_period', 'title', 'description', 'operation_type', 'geometry'], inplace=True, axis=1)
dft.drop(['Unnamed: 0', 'id', 'ad_type', 'start_date', 'end_date', 'created_on', 'l1', 'l2', 'l3', 'l4', 'l5', 'l6', 'currency', 'price_period', 'title', 'description', 'operation_type', 'geometry'], inplace=True, axis=1)

In [68]:
df.property_type.value_counts()
df['property_type'].replace(['Apartamento', 'Casa', 'Otro', 'Lote', 'Local comercial', 'Finca', 'Oficina', 'Parqueadero'], [0,1,2,3,4,5,6,7], inplace=True)
dft.property_type.value_counts()
dft['property_type'].replace(['Apartamento', 'Casa', 'Otro', 'Lote', 'Local comercial', 'Finca', 'Oficina', 'Parqueadero'], [0,1,2,3,4,5,6,7], inplace=True)

In [70]:
df.isnull().sum()
dft.isnull().sum()

lat                16417
lon                16417
rooms              56740
bedrooms           52447
bathrooms          13796
surface_total      63536
surface_covered    62545
property_type          0
dtype: int64

In [13]:
#CALCULO LOS VALORES CON LOS CUALES VOY A REEMPLAZAR LOS NULOS EN AMBOS DATAFRAMES
lat_promedio = round(df['lat'].mean(), 6)
lon_promedio = round(df['lon'].mean(), 6)
rooms_promedio = round(df['rooms'].mean())
bedrooms_promedio = round(df['bedrooms'].mean())
bathrooms_promedio = round(df['bathrooms'].mean())
surface_total_promedio = round(df['surface_total'].mean(),2)
surface_covered_promedio = round(df['surface_covered'].mean(),2)

In [14]:
df['lat'].fillna(lat_promedio, inplace=True)
df['lon'].fillna(lon_promedio, inplace=True)
df['rooms'].fillna(rooms_promedio, inplace=True)
df['bedrooms'].fillna(bedrooms_promedio, inplace=True)
df['bathrooms'].fillna(bathrooms_promedio, inplace=True)
df['surface_total'].fillna(surface_total_promedio, inplace=True)
df['surface_covered'].fillna(surface_covered_promedio, inplace=True)
df['price'].fillna(price_promedio, inplace=True)

In [72]:
dft['lat'].fillna(lat_promedio, inplace=True)
dft['lon'].fillna(lon_promedio, inplace=True)
dft['rooms'].fillna(rooms_promedio, inplace=True)
dft['bedrooms'].fillna(bedrooms_promedio, inplace=True)
dft['bathrooms'].fillna(bathrooms_promedio, inplace=True)
dft['surface_total'].fillna(surface_total_promedio, inplace=True)
dft['surface_covered'].fillna(surface_covered_promedio, inplace=True)

In [74]:
#COMPRUEBO QUE AMBOS DATAFRAMES HAYAN QUEDADO CORRECTAMENTE
df.isnull().sum()
df.info()
df.shape
df.head()
dft.isnull().sum()
dft.head()

,lat,lon,rooms,bedrooms,bathrooms,surface_total,surface_covered,property_type
0,4.722000,-74.075000,3.0,3.0,3.0,660.00,350.00,1
1,5.666001,-75.041045,3.0,3.0,3.0,1352.13,948.34,0
2,6.259253,-75.628381,3.0,3.0,1.0,1352.13,948.34,1
3,6.203000,-75.556000,3.0,3.0,3.0,2793.00,948.34,3
4,5.666001,-75.041045,3.0,3.0,2.0,1352.13,948.34,1

In [16]:
#LE AGREGO LA VARIABLE A PREDECIR EN EL DF DE ENTRENAMIENTO EN BASE AL PRECIO PROMEDIO PREVIAMENTE CALCULADO
df['target'] = np.where(df['price'] < price_promedio, 0,1)

In [17]:
#ELIMINO LA COLUMNA DE PRECIO YA QUE NO ES MAS UTIL
df.drop(['price'], inplace=True, axis=1)

In [99]:
#YA TENEMOS LAS TABLAS PARA ENTRENAR LOS ALGORITMOS Y LUEGO PREDECIR EL TARGET (LA COLUMNA FALTANTE) DEL DATAFRAME DE TEST
df.head()
dft.head()

,lat,lon,rooms,bedrooms,bathrooms,surface_total,surface_covered,property_type
0,4.722000,-74.075000,3.0,3.0,3.0,660.00,350.00,1
1,5.666001,-75.041045,3.0,3.0,3.0,1352.13,948.34,0
2,6.259253,-75.628381,3.0,3.0,1.0,1352.13,948.34,1
3,6.203000,-75.556000,3.0,3.0,3.0,2793.00,948.34,3
4,5.666001,-75.041045,3.0,3.0,2.0,1352.13,948.34,1

In [19]:
#IMPORTAMOS LAS FUNCIONES, METRICAS Y ALGORITMOS NECESARIOS PARA NUESTROS MODELOS
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score

In [75]:
#DEFINIMOS NUESTRAS VARIABLES 
X = np.array(df[['lat','lon','rooms','bedrooms','bathrooms','surface_total','surface_covered','property_type']])
y = np.array(df['target'])
Xdft = np.array(dft[['lat','lon','rooms','bedrooms','bathrooms','surface_total','surface_covered','property_type']])

In [21]:
#DIVIDIMOS NUESTROS DATOS DE ENTRENAMIENTO PARA PROBAR NUESTROS MODELOS
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [22]:
#ENTRENAMOS, PREDECIMOS Y EVALUAMOS NUESTROS MODELOS CON LOS DATOS DE ENTRENAMIENTO
logreg = LogisticRegression(max_iter=1000)
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
print('accuracy: ', accuracy_score(y_test, y_pred))
print('recall: ', recall_score(y_test, y_pred))

accuracy:  0.8077280013498692
recall:  0.3179282868525896

In [87]:
#HACEMOS LA PREDICCION DE NUESTROS DATOS DE TESTEO, NO PODEMOS EVALUAR YA QUE NO TENEMOS LAS RESPUESTAS
y_pred_logreg_test = logreg.predict(Xdft)
y_pred_logreg_test

array([0, 0, 0, ..., 0, 0, 0])

In [91]:
#CONVERTIMOS EL ARRAY EN EL FORMATO EXIGIDO
df_logreg_pred = pd.DataFrame(data=y_pred_logreg_test, columns=['pred'], index=None)
df_logreg_pred

       pred
0         0
1         0
2         0
3         0
4         0
...     ...
65845     0
65846     0
65847     0
65848     0
65849     0

[65850 rows x 1 columns]

In [97]:
#EXPORTAMOS EL ARCHIVO
df_logreg_pred.to_csv('estanislaohaquin.csv', index=False)

In [61]:
#REPETIMOS EL PROCESO PERO CON UN ALGORITMO DIFERENTE
clf = DecisionTreeClassifier(criterion='gini',  max_depth=6)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
print('accuracy: ', accuracy_score(y_test, y_pred))
print('recall: ', recall_score(y_test, y_pred))

accuracy:  0.8312494727073315
recall:  0.6225280695400217

In [77]:
y_pred_tree_test = clf.predict(Xdft)
y_pred_tree_test

array([0, 0, 0, ..., 0, 0, 0])

In [93]:
df_tree_pred = pd.DataFrame(data=y_pred_tree_test, columns=['pred'], index=None)
df_tree_pred

       pred
0         0
1         0
2         0
3         0
4         0
...     ...
65845     0
65846     0
65847     0
65848     0
65849     0

[65850 rows x 1 columns]

In [98]:
df_tree_pred.to_csv('estanislaohaquin(1).csv', index=False)